* {
    box-sizing: border-box;
}
  
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    background-color: #cdb4db;
    color: #ffffff;
    padding: 20px;
    font-size: 15px;
    width: 100%;
    z-index: 2;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header h1 {
    margin-left: 25px;
}

.head-links {
    display: flex;
    padding-top: 20px;
    list-style: none;
}

.head-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease; /* Add a smooth color transition on hover */
    padding: 10px;
    border-radius: 5px;
}

.head-links a:hover {
    color: #69418c; /* Change the color on hover */
}

.head-links a.active {
    color: #69418c;
    font-weight: bold;
}

.grid-container {
    display: grid;
    grid-template-areas: 
      'header header header header header header' 
      'left middle middle middle middle right' 
      'footer footer footer footer footer footer';
    /* grid-column-gap: 10px; - if you want gap between the columns */
} 
 
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #cdb4db;
    overflow-x: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
  
.content {
    margin-left: 70px;
    padding-left: 20px;
}

.text-box {
    margin-top: 20px;
    padding: 20px;
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.circle-image {
    border-radius: 50%;
    width: 70px;
    height: 70px; 
    margin-right: 20px; 
    margin-left: 20px;
}

audio {
    width: 100vw;
    max-width: 400px;
    margin: 14px 10px;
    border-radius: 10px;
}

audio::-webkit-media-controls-panel {
    background-color: #fdeaff;
  }

audio::-webkit-media-controls-timeline {
    color:#69418c;
}
  