* {
    box-sizing: border-box;
}
  
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    grid-area: header;
    display: flex;
    background-color: #cdb4db;
    color: #ffffff;
    padding: 20px;
    font-size: 15px;
    width: 100%;
    z-index: 2;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.grid-container {
    display: grid;
    grid-template-areas: 
      'header header header header header header' 
      'left middle middle middle middle right' 
      'footer footer footer footer footer footer';
    /* grid-column-gap: 10px; - if you want gap between the columns */
} 
 
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 110px;
    left: 0;
    background-color: #cdb4db;
    overflow-x: hidden;
}
  
.sidenav a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
}
  
.sidenav a:hover {
    background-color: #bdb2ff;
    color: #69418c;
}
  
.content {
    margin-left: 70px;
    padding-left: 20px;
}

.text-box {
    margin-top: 20px;
    padding: 20px;
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.circle-image {
    border-radius: 50%;
    width: 70px;
    height: 70px; 
    margin-right: 20px; 
    margin-left: 20px;
}
  